<div id="div-usuarioInterno">
  <div id="div-mnuRegresar">
    <span id="tilePage">
      <a href="https://dsia.uv.mx/miuv/escritorio/smustiles.aspx?params=9fgbh2rhbpwSHzi0Qu0CbQ%3D%3D|AD"
      id="menuNavegacion_mnuRegresaAD"
      class="Regresolkn"></a>
      <span id="menuNavegacion_lbl_return">{{page}}</span>
    </span>
    <span id="Periodo">
      <span id="menuNavegacion_lbl_CPeriodo" class="lblValor"></span>
      <span id="menuNavegacion_lbl_CPeriodo" class="lblValor"></span>
    </span>
  </div>
  <div id="div-InfoUsuario">
    <div id="div-perfilInterno" class="eActivoAdmin"></div>
    <div id="div-nombreUsuarioInterno">
      <span id="nombreUsuario_lbl_NombreAdm">{{usuario}}</span>
    </div>
  </div>
</div>
