<div id="header-main">
  <div id="section-logoMiUV">
    <a id="Rmutiles"
      href="https://dsia.uv.mx/miuv/escritorio/smutiles.aspx"
      style="text-decoration:none; outline:none;">
    <img src="../../../assets/img/logoMiUV.png" style="border:none;" alt="MiUV">
    </a>
  </div>
  <div id="section-nombreUV" style="background-color: #e17126;">
    <span id="span-nombreUV">Universidad Veracruzana</span>
  </div>
  <div id="nav-menuMiUV">
    <ul id="ul-menuMiUV">
      <li id="li-salir" title="Cerrar sesión"  (click)="salir()"></li>
      <li id="li-config" title="Ir a configuración" onclick="javascript:configuracionMiUV();"></li>
      <li id="li-busq" title="Ir a Búsqueda" onclick="javascript:widgetBusq();"></li>
    </ul>
  </div>
</div>
