<div id="footer-main">
  <div id="section-footGeneral">
    <ul id="ul-footGeneral-mnu">
      <li>
        <a title="Enviar un correo electrónico al contacto de este sitio"
        href="mailto:miuv@uv.mx">Contacto</a>
      </li>
      <li>|</li>
      <li>
        <a title="Ir a Correo UV" id="aCorreo" target="_blank" 
          href="https://mailweb.uv.mx">Correo</a>
      </li>
      <li>|</li>
      <li>
        <a title="Ir a estado del tiempo" target="_blank" 
        href="http://www.uv.mx/universidad/campus/">Estado del tiempo</a>
      </li>
    </ul>
    <ul id="ul-footGeneral-copyright">
      <li id="li-copy">
        @<span id="lblAnio"> Universidad Veracruzana. Todos los Derechos reservados &nbsp;&nbsp;</span>
      </li>
      <li>
        <a title="Universidad Veracruzana" target="_blank"
        href="http://www.uv.mx">www.uv.mx</a>
      </li>
    </ul> 
    <div class="clearFloats"></div>
  </div>
  <div id="section-footBuzon">
    <a id="a-mostrarBuzon" title="Buzón de comentarios"
    href="mailto:miuv@uv.mx" style="cursor:pointer;">
    <div></div>
    <span>Buzón de</span><br><span>comentarios</span>
    </a>
  </div>
</div>